<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Discordlist by mattfeldman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.min.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="ui text container">
    <div class="ui card">
        <div class="header">{{page.title}}</div>
        <div class="content">{{page.link}}</div>
        {{page.content}}
    </div>
</div>
</body>
</html>
